body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    margin-top: 20px;
}

.sidebar {
    background-color: #fff9db;
    width: 200px;
    position: fixed;
    top: 60px;
    bottom: 0;
    padding: 20px;
    border-right: 1px solid #fc0;
    transition: width 0.3s ease;
    overflow: hidden; /* Hide text when collapsed */
}

.sidebar.collapsed {
    width: 90px; /* Only show icons */
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    overflow: hidden; /* Hide text */
}

.sidebar a .text {
    display: inline-block;
    margin-left: 15px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed a .text {
    opacity: 0;
}

.sidebar a i {
    font-size: 20px;
}

.sidebar a:hover, .sidebar a.active {
    background-color: #ffc107;
}

.main-content {
    margin-left: 220px;
    padding: 50px;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed + .main-content {
    margin-left: 80px;
}

.container {
    margin-left: -20px;
}

.header {
    background-color: #ffc107;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .left {
    display: flex;
    align-items: center;
}

.header img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    white-space: nowrap; /* Prevent wrapping */
}

.header .user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.header .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.header .user-info span {
    font-size: 16px;
    color: #000;
    white-space: nowrap; /* Prevent wrapping */
}

.header .user-info i {
    font-size: 16px;
    color: #000;
    cursor: pointer;
    margin-left: 10px;
}

#filter-options {
    top: auto;
    left: 150px; /* Adjust this value to position it correctly beside the icon */
}

#filter-options .form-group {
    margin-bottom: 10px;
}

#filter-options .btn-apply-filter {
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #ffc107;
    border: none;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 5px; /* Rounded corners for button */
}

.header .user-info .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}

.header .user-info .dropdown-menu a:hover, #filter-options a:hover {
    background-color: #f1f1f1;
}

.header .user-info .dropdown-menu.show, #filter-options.show {
    display: block;
}

.centered-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-form .form-group {
    margin-bottom: 15px;
}

.centered-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.centered-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.centered-form .form-check {
    display: flex;
    align-items: center;
}

.centered-form .form-check-input {
    margin-right: 10px;
}

.centered-form .form-check-label {
    margin-right: 10px;
    font-weight: normal;
}

.centered-form .btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fc0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.centered-form .btn-submit:hover {
    background-color: #e0a800;
}

h2 {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: bold;
    color: #333;
}

/* Styles specifically for the create and edit forms */
.form-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
    text-align: center;
    font-weight: 700;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.form-container label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #495057;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container select {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="date"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="number"]:focus,
.form-container select:focus {
    border-color: #e0a800;
    outline: 0;
    box-shadow: 0 0 5px rgba(255, 226, 2, 0.818);
}

.form-container .invalid-feedback {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #e3342f;
}

.form-container .form-check {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-container .form-check-input {
    margin-right: 10px;
}

.form-container .form-check-label {
    margin: 0;
}

.form-container button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffc107;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.form-container button[type="submit"]:hover {
    background-color: #e0a800;
}

/* Responsive Styles for the forms */
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .form-container h2 {
        font-size: 20px;
    }

    .form-container button[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }
}
