body {
    margin: 0;
    margin-top: 40px;
}

.container{
    margin-left: -20px;
}

.header {
    background-color: #ffc107;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .left {
    display: flex;
    align-items: center;
}

.header img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    white-space: nowrap; /* Prevent wrapping */
}

.header .user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.header .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.header .user-info span {
    font-size: 16px;
    color: #000;
    white-space: nowrap; /* Prevent wrapping */
}

.header .user-info i {
    font-size: 16px;
    color: #000;
    cursor: pointer;
    margin-left: 10px;
}


#filter-options {
    top: auto;
    left: 150px; /* Adjust this value to position it correctly beside the icon */
}

#filter-options .form-group {
    margin-bottom: 10px;
}

#filter-options .btn-apply-filter {
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #ffc107;
    border: none;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 5px; /* Rounded corners for button */
}

.header .user-info .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}

.header .user-info .dropdown-menu a:hover, #filter-options a:hover {
    background-color: #f1f1f1;
}

.header .user-info .dropdown-menu.show, #filter-options.show {
    display: block;
}