/* Alerts */
.alert-danger, .alert-success {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger ul {
    margin: 0;
    padding-left: 1.5rem;
}

.alert-danger li {
    list-style-type: none;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Modal Overlay */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Make sure it is on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Show the modal */
.modal.show {
    display: block !important;
}

/* Modal Dialog */
.modal-dialog {
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 600px;
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Modal Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
    background-color: #f7f7f7;
}

.modal-header .close {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.modal-header .close:hover,
.modal-header .close:focus {
    color: #000;
    text-decoration: none;
}

/* Modal Body */
.modal-body {
    padding: 1rem;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-direction: column !important;
}

/* Form Groups */
.form-group {
    margin-bottom: 1rem;
    width: 100%; /* Ensure form groups span full width */
}

/* Form Controls */
.form-control {
    width: 100%; /* Ensure form controls span full width */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box !important; 
}

.form-control:focus {
    border-color: #007bff;
    outline: 0;
}

/* Button Container */
.button-container {
    text-align: right;
    margin-top: 1rem; /* Added margin to separate from the form fields */
}

/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Style for the buttons in the action bar */
.action-bar form {
    margin-left: 10px; /* Space between buttons */
}

.action-bar .btn {
    padding: 10px 20px; /* Adjust padding for button size */
    font-size: 14px; /* Adjust font size */
    border-radius: 5px; /* Rounded corners */
}

.action-bar .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}

.action-bar .btn-success {
    background-color: #000000;
    color: white;
    border: none;
}

/* Add some hover effects */
.action-bar .btn:hover {
    opacity: 0.9;
}

.action-bar .btn-secondary:hover {
    background-color: #5a6268;
}

.action-bar .btn-success:hover {
    background-color: #6c757d;
}


#filter-button, #import-button {
    margin-left: 10px;
    margin-right: 10px;
}

/* Centered Container */
.centered-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-form .form-group {
    margin-bottom: 15px;
}

.centered-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.centered-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.centered-form .form-check {
    display: flex;
    align-items: center;
}

.centered-form .form-check-input {
    margin-right: 10px;
}

.centered-form .form-check-label {
    margin-right: 20px;
    font-weight: normal;
}

.centered-form .btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffc107;
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.centered-form .btn-submit:hover {
    background-color: #e0a800;
}

/* Form Container */
.form-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
    text-align: center;
    font-weight: 700;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.form-container label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #495057;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container select {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="date"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="number"]:focus,
.form-container select:focus {
    border-color: #e0a800;
    outline: 0;
    box-shadow: 0 0 5px rgba(255, 226, 2, 0.818);
}

.form-container .invalid-feedback {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #e3342f;
}

.form-container .form-check {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-container .form-check-input {
    margin-right: 10px;
}

.form-container .form-check-label {
    margin: 0;
}

.form-container button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffc107;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.form-container button[type="submit"]:hover {
    background-color: #e0a800;
}
